# SystemD specification to control Apache Solr

[Unit]
Documentation=https://wiki.apache.org/solr/FrontPage
Description=Apache Solr Service
Requires=network-online.target
After=network-online.target
Conflicts=shutdown.target
PassEnvironment=PATH JAVA_HOME

[Service]
EnvironmentFile=/etc/default/solr.in.sh
Environment="SOLR_INCLUDE=/etc/default/solr.in.sh"
Type=forking
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
# PID file needs to be in SOLR_PID_DIR defined in /etc/default/solr.in.sh,
# or script will write in that dir while systemd will keep waiting
# on this path and never complete startup.
PIDFile=/var/run/solr/solr-8983.pid
RemainAfterExit=yes
ExecStart=/usr/local/solr/bin/solr start
ExecStop=/usr/local/solr/bin/solr stop
OOMScoreAdjust=-10
Restart=on-failure
RestartForceExitStatus=SIGTERM SIGKILL
WorkingDirectory=/usr/local/solr
User=solr

[Install]
WantedBy=multi-user.target
Alias=solrd.service
