# SystemD specification to control Apache Solr
# Written for SystemD v219

[Unit]
Documentation=https://wiki.apache.org/solr/FrontPage
Description=Apache Solr Service
After=network-online.target
Conflicts=shutdown.target

[Service]
# Pass some environment variables to the process, although the script seems to
# include them manually if located at certain location (see top of 'solr' script)
EnvironmentFile=RPM_INSTALL_DIR/solr.in.sh
-EnvironmentFile=RPM_CONF_DIR/.solr.in.sh

# Forking because script starts the main process.
Type=forking

# Service startup timeout as noted in packaged solr script.
TimeoutSec=5min

# Script stores the PID in a file on startup. No need to guess it.
GuessMainPID=no

# PID file needs to be in SOLR_PID_DIR defined in RPM_RUN_DIR/solr.in.sh,
# or script will write in that dir while systemd will keep waiting
# on this path and never complete startup.
PIDFile=RPM_RUN_DIR/solr-8983.pid

# Remove the PID file before starting. Helpful when recovering from crash.
ExecStartPre=/bin/rm -f RPM_RUN_DIR/solr-8983.pid

# Start solr by invoking packaged script in verbose mode.
ExecStart=RPM_BIN_DIR/solr start -d RPM_INSTALL_DIR/server -V

# Stop solr on default port only.
ExecStop=RPM_BIN_DIR/solr stop -p RPM_PORT -d RPM_INSTALL_DIR/server

# Deprioritize killing of Solr when Kernel is running out of memory.
OOMScoreAdjust=-10

# Restart Solr irrespective of exit status. Helps recovering from Kernel and 
# Java OOM. If Solr is killed because Java ran out of heap, it will store a 
# message in logging folder while noting that. Kernel OOM should be in
# /var/log/messages (CentOS) or /var/log/dmesg (Ubuntu).
Restart=always

# Wait for 30 secs before restarting.
RestartSec=30

# Time limit in seconds during which SystemD will try restarting Solr
# StartLimitBurst times before giving up trying to restart.
# Newer SystemD have this value as StartLimitIntervalSec
StartLimitInterval=300

# How many times should SystemD try restarting Solr in StartLimitInterval
StartLimitBurst=10

# Set the working directory as script seems to use relative paths when
# starting up.
WorkingDirectory=RPM_INSTALL_DIR

# Start as user dedicated for this service.
User=solr

[Install]
WantedBy=multi-user.target
Alias=solrd.service
